.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/6lk8XWL.png");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background: linear-gradient(-45deg, #de89f3, #f782af, #7ed5f5, #74f2d5);
  background-size: 400% 400%;
  -webkit-animation: gradientBG 10s ease infinite;
  animation: gradientBG 10s ease infinite;
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
}

.outer {
  position: relative;
  width: 25%;
  padding-bottom: 25%;
}

.inner {
  position: absolute;
  width: 80%;
  height: 80%;
  margin-top: 5%;
  margin-left: 5%;
  border: 5px solid #c8ff00;
}

#box-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 3.5em;
  font-family: "Tomorrow", sans-serif;
}

#box-text:hover {
  color: red;
}

.ball {
  position: absolute;
  border-radius: 100px;
  font-size: 110%;
  /* box-shadow: 1px 2px 1.5px 2px; */
  font-family: "Alata", sans-serif;
  text-align: center;
  cursor: pointer;
  /* height: 25rem;
  width: 25rem;
  top: 90%;
  right: 25%; */
  /* animation: blob 10s ease-in-out infinite; */
  animation: fadeIn 500ms reverse;
  animation: morph 3s linear infinite;
}

.balls:before,
.balls:after {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  animation-delay: 200ms;
}

.balls:before {
  animation: morph 3s linear infinite;
  animation-duration: 1.5s;
}

.balls:after {
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
  line-height: 120px;
  text-indent: -21px;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.5deg);
  }
  20% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    /* border-radius: 75% 60% 25% 30% / 75% 60% 25% 30%; */
    transform: translate3d(0, 5px, 0) rotateZ(0.05deg);
  }
  40% {
    opacity: 0.89;
    transform: translate3d(0, 0, 0) rotateZ(0.5deg);
  }
  60% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.05deg);
  }
  80% {
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    transform: translate3d(0, -3px, 0) rotateZ(0.05deg);
  }
}

@keyframes fadeIn {
  100% {
    transform: scale(1.03);
    opacity: 0;
  }
}

.corner-buttons {
  display: block;
  justify-content: right;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid greenyellow;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.corner-buttons:hover {
  color: #fff;
  outline: 0;
}

.corner-buttons:focus {
  color: #fff;
  outline: 0;
}

#button1 {
  border-color: blue;
  color: #fff;
  box-shadow: 0 0 40px 40px blue inset, 0 0 0 0 blue;
  transition: all 150ms ease-in-out;
  border-radius: 50px;
  letter-spacing: 4px;
  font-size: 0.9em;
  width: 20em;
  text-align: center;
}

#button1:hover {
  box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
}

#button2 {
  outline: 0;
  border-radius: 50px;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 4px;
  /* overflow: hidden; */
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  transition: all 500ms ease-in-out;
  width: 23em;
  background-color: rgba(250, 242, 154, 0.37);
}

#button2:hover {
  animation: blink 0.3s infinite;
}

#button-p {
  animation: typing 4s steps(12) infinite;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  55%,
  65%,
  75% {
    opacity: 1;
  }
  60%,
  70% {
    opacity: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  25%,
  75% {
    color: transparent;
  }
  40%,
  60% {
    color: #fff;
  }
}

.button-div {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 2em;
  margin-top: 2em;
}

svg {
  width: 80vw;
  position: fixed;
  top: 50vh;
  left: 50vw;
  max-width: 430px;
  transform: translateY(-50%) translateX(-50%);
  z-index: 2;
  filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.3));
}

path {
  cursor: pointer;
  animation: blob 2s infinite forwards;
  transform-origin: 50% 50%;
}

path:hover {
  fill: #fafafa;
}

text {
  font-size: 45px;
}

@keyframes blob {
  25% {
    d: path(
      "M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 "
    );
    transform: rotate(-5deg);
  }
  50% {
    d: path(
      "M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210"
    );
  }
  75% {
    d: path(
      "M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210"
    );
    transform: rotate(5deg);
  }
}
