.fa-info {
  color: blue;
  padding: 15px;
  outline: 1px solid black;
  margin-right: 10px;
}

body {
  width: 100%;
}

#about-div {
  width: 70%;
  /* margin-left: 12vw; */
  margin: 0 auto;
  margin-top: 7%;
  outline: 1px solid black;
  padding: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
}

/* phones */
@media only screen and (max-width: 600px) {
  #about-div {
    width: 60%;
    margin: 0 auto;
    margin-left: 2em;
  }
}

/* tablets */
@media only screen and (max-width: 900px) {
  #about-div {
    width: 80%;
    margin: 0 auto;
    margin-left: 2em;
  }
}

#about-text {
  width: 80%;
  line-height: 1.5;
}

#about-h4 {
  margin-top: 3em;
}

#about-404 {
  margin-top: 2em;
  font-weight: 700;
}


.glitch-text {
  animation: glitch1 2.5s infinite;
}


/*Keyframes*/
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }

  7% {
    transform: skew(-0.3deg, -0.4deg);
    opacity: 0.45;
  }

  10% {
    transform: none;
    opacity: 1;
  }

  27% {
    transform: none;
    opacity: 1;
  }

  30% {
    transform: skew(0.4deg, -0.1deg);
    opacity: 0.75;
  }

  35% {
    transform: none;
    opacity: 1;
  }

  52% {
    transform: none;
    opacity: 1;
  }

  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }

  50% {
    transform: none;
    opacity: 1;
  }

  72% {
    transform: none;
    opacity: 1;
  }

  75% {
    transform: skew(0.1deg, 0.3deg);
    opacity: 0.75;
  }

  80% {
    transform: none;
    opacity: 1;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}