.fa-info {
  color: blue;
  padding: 15px;
  outline: 1px solid black;
  margin-right: 10px;
}

#about-div {
  margin-top: 10%;
  width: 70%;
  margin-left: 15%;
  outline: 1px solid black;
  padding: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
}

#about-text {
  width: 80%;
  line-height: 1.5;
}

#about-h4 {
  margin-top: 3em;
}

#about-404 {
  margin-top: 2em;
  font-weight: 700;
}